/** app header only. **/



.zaobank-app-header {
	width: 100%;
	backdrop-filter: blur(7px);

	@include themify($themes) {
		background: rgba( themed('subtleBackgroundColor'), 0.9 );
		box-shadow: themed('subtleShadow');
	}


	.zaobank-app-header-inner {
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		height: var(--app-header-height);
		padding: 0 1rem;
	}

	#zaobank_logo_app_header {
		svg {
			height: var(--app-header-height);
			width: auto;

			#zaobank-logo-shadow {
				@include themify($themes) {
					fill: themed( 'subtleBackgroundColor' );
				}
			}

			#zaobank-background {
				@include themify($themes) {
					fill: themed( 'backgroundColor' );
				}
			}

			#zaobank-foreground {
				transition: fill 200ms ease-in-out;

				@include themify($themes) {
					fill: themed( 'textColor' );
				}
			}

			&:hover,
			&:target,
			&:focus {
				#zaobank-foreground {
					@include themify($themes) {
						fill: themed( 'linkColor' );
					}
				}
			}
		}
	}

	/* Header actions */
	.zaobank-app-header-actions {
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
}