/**

 */

.grid_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-items: center;
	margin: 1em auto;

	article {
	}
}
.list_container {

	article.news-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 6em;
		@include themify($themes) {
			background-color: rgba( themed( 'subtleBackgroundColor' ), 0.4 );
			box-shadow: themed( 'normalShadow' );
		}

		.post_featured_image {
			width: calc( 100% - #{$golden-large} - 1.5em );
			margin: -2em 1em -2em 0;

			> a,
			> a:visited {
				display: block;
				padding: 3px;
				height: 100%;

				@include themify($themes) {
					background-color: rgba( themed( 'backgroundColor' ), 0.2 );
					box-shadow: themed( 'subtleShadow');
				}

				&:hover,
				&:target,
				&:focus {
					@include themify($themes) {
						background-color: themed( 'primaryButtonBGHoverColor' );
						box-shadow: themed( 'largeShadow');
					}
				}
			}

			img {
				width: 100%;
				display: block;
				height: auto;
				max-height: 100%;
				object-fit: cover;
				padding: 4px;
				margin: 0 0 -3px 0;
				aspect-ratio: 4/3.4;
			}
		}

		.post_excerpt_container {
			width: $golden-large;
			padding: 2em;

			h2,
			h3 {
				margin: 0;
				padding: 0;
				font-size: $font-size-md;
			}

			.post_meta {
				font-size: $font-size-sm;
				opacity: 0.5;
				display: block;
				padding-top: 5px;
			}
		}

		@include phone-only {
			margin-bottom:1em;

			.post_featured_image {
				max-width: 35%;

				img {
					margin:4px;
					padding: 5px;
				}
			}
			.post_excerpt_container {
				padding: 1em;

				p {
					font-size: $font-size-sm;
				}
				.post_meta {
					font-size: $font-size-xs;
				}
			}
		}
	}

	article.event-item {
		margin: 3em 2em;
		border-radius: 5px;
		@include themify($themes) {
			background-color: rgba( themed( 'subtleBackgroundColor' ), 0.24 );
			border: 1px solid themed( 'subtleBackgroundColor' );
			box-shadow: themed( 'normalShadow' );
		}

		header {
			position: relative;
			display: flex;
			align-items: center;
			padding: 5em 1em;
			justify-content: flex-start;

			.event_featured_image {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 45%;
				z-index: -1;
				mask: linear-gradient(to right,
						red 65%,
						transparent 95%);

				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}

			h3 {
				margin-left: 1em;
			}

			.event_featured_image + h3 {
				margin-left: 30%;
			}

		}
		main,
		footer {
			display: none; // shown in the aside list, but not the list container on archive-event
		}
	}
}

.aside_list_container {
	article.event-item {

		margin: 2em 0;
		border-radius: 5px;
		@include themify($themes) {
			background-color: rgba( themed( 'subtleBackgroundColor' ), 0.24 );
			border: 1px solid themed( 'subtleBackgroundColor' );
			box-shadow: themed( 'normalShadow' );
		}

		header {
			position: relative;

			.event_featured_image,
			.event_no_image {
				min-height: 10em;
				-webkit-mask: linear-gradient(to bottom,
						red 65%,
						transparent 95%);
				mask: linear-gradient(to bottom,
						red 65%,
						transparent 95%);

				@include themify($themes) {
					background-color: themed( 'subtleBackgroundColor' );
				}

				img {
					width: 100%;
					height: auto;
					object-fit: cover;
					border-radius: 5px 5px 0 0;
					aspect-ratio: 5.5/2;
				}
			}

			.event_date {
				position: absolute;
				top: -1em;
				left: 1em;
				z-index: 99;
			}

			h3 {
				font-size: $font-size-md;
				padding: 0 5%;
				margin-top: -1em;
				position: relative;
				z-index: 9;
			}
		}

		main,
		footer {
			padding: 1em 5%;
		}

		footer {
			> * {
				flex: 1;
				text-align: center;
				font-weight: 600;
			}
		}
	}
}
.event_date {

	@include themify($themes) {
		background-color: themed( 'backgroundColor' );
		box-shadow: themed( 'largeShadow');
		border: 1px solid rgba( themed( 'textColor' ), 0.4 );
		border-radius: 3px;
	}

	.event--past & {
		opacity: 0.85;
	}

	time {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		> * {
			text-align: center;
		}

		.month {
			order: 1;
			font-size: 11px;
			text-transform: uppercase;
			font-weight: 700;
			background: $red;
			color: $white;
			padding: 2px 1em;

			.event--past & {
				background: $grey-medium;
			}

		}
		.day {
			order: 2;
			font-size: 27px;
			line-height: 1;
			font-weight: 200;
			padding: 5px 1em 0 1em;
		}
		.weekday_name {
			order: 3;
			font-weight: 500;
			padding: 3px 1em;
		}

		.time {
			order: 5;
			padding: 2px 1em;
			margin-top: 1px;
			@include themify($themes) {
				background: themed(  'textColor' );
				color: themed( 'backgroundColor' );
			}
		}
	}
}

/**
memorial wall (archive)
 */

.memorial_wall {
	grid-gap: 20px;

	.framed {
		padding: 1em;
		border-radius: 4px;
		@include themify($themes) {
			border: 1px solid rgba( themed('textColor'), 0.15 );
			background: themed('backgroundColor');
			box-shadow: themed( 'subtleShadow');
		}
	}

	object.group_container {
		position: relative;

		img {
			@include themify($themes) {
				border-bottom: 1px solid rgba( themed('textColor'), 0.25 );
				box-shadow: themed( 'insetShadow');
			}
		}
		h3 {
			font-size: $font-size-md;
			text-align: center;
		}
	}
}