// page header, default

.page_title,
.post_title,
.section_title {
	width: 90vw;
	margin: 1px auto 1em auto;
	@include themify($themes) {
		text-shadow:
			0 0 50px themed( 'backgroundColor' ),
			0 0 70px themed( 'backgroundColor' ),
			1px 1px 20px themed( 'backgroundColor' ),
			-1px -1px 20px themed( 'backgroundColor' );

		border-bottom: 1px solid rgba( themed( 'textColor' ), 0.5  );

	}
}


div.page_featured_image {
	width: 100%;
	margin: -3em 0 3em 0;

	img {
		display: block;
		width: 100%;
		max-height: 59vh;
		min-height: 39cqw;
		object-fit: cover;
		object-position: 50% 40%;
	}

	h1.page_title,
	h1.post_title{
		position: relative;
		margin-top: -1.75em;
		z-index: 99;

	}
}

div.no_header {
	padding-top: var( --mask-foot-size );

	.home.page-home & {
		padding-top: var( --mask-foot-size );
	}
}
.no_featured_image {
	padding-top: calc( var( --mask-foot-size ) * 2 );

}
