.icon-VK-dims {
    width: 30px;
    height: 30px;
}

.icon-close-dims {
    width: 100px;
    height: 100px;
}

.icon-doc-dims {
    width: 335px;
    height: 450px;
}

.icon-facebook-dims {
    width: 30px;
    height: 30px;
}

.icon-instagram-dims {
    width: 30px;
    height: 30px;
}

.icon-linkedin-dims {
    width: 30px;
    height: 30px;
}

.icon-mp3-dims {
    width: 335px;
    height: 447px;
}

.icon-mp4-dims {
    width: 335px;
    height: 447px;
}

.icon-pdf-dims {
    width: 359px;
    height: 447px;
}

.icon-ppt-dims {
    width: 335px;
    height: 447px;
}

.icon-spotify-dims {
    width: 30px;
    height: 30px;
}

.icon-svg-dims {
    width: 335px;
    height: 447px;
}

.icon-tiktok-dims {
    width: 30px;
    height: 30px;
}

.icon-tumblr-dims {
    width: 30px;
    height: 30px;
}

.icon-twitch-dims {
    width: 30px;
    height: 30px;
}

.icon-website-dims {
    width: 30px;
    height: 30px;
}

.icon-x-dims {
    width: 30px;
    height: 30px;
}

.icon-youtube-dims {
    width: 30px;
    height: 30px;
}

.icon-zip-dims {
    width: 335px;
    height: 447px;
}

