/*
 * Public Sans - default font
 *	<weight>: Use a value from 100 to 900
 *
 * Special Gothic Expanded One - titles (static, 400)
 *
 */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
