@import "../../svg/output/sprite";

/**
 * NOTE: these styles are not actually controlling the post
 * icons because they are embeded with the <use> tag, so the
 * styles have to be included in the SVG symbol directly.
 * (thanks a *lot* CSS  (╯°□°）╯︵ ┻━┻  )
 * so if you need to update post type icon styles, change the CSS at:
 *
 *** 		/_assets/svg/content-type-icons.php			***
 *
 * thank you for coming to my TED talk
 *			┬──┬ ノ( ゜-゜ノ)
 */


.search_icon {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(2);
	width: 16px;
	height: 16px;
	border: 2px solid;
	border-radius: 100%;
	margin-left: -4px;
	margin-top: -4px;


	&:after {
		content: "";
		display: block;
		box-sizing: border-box;
		position: absolute;
		border-radius: 3px;
		width: 2px;
		height: 8px;
		background: currentColor;
		transform: rotate(-45deg);
		top: 10px;
		left: 12px
	}
}

