
#page.sticky-container {
	position: relative;
}


.wp-block-embed,
.contained_width,
.wp-block-pullquote {
	width: 95vw;
	max-width: calc( $max_body_text_width + 2em );
	margin-left: auto;
	margin-right: auto;


	@include phone-landscape {
		padding-left: 1em;
		padding-right: 1em;
	}
}

.full_width {
	width: 100%;
	max-width: 100vw;

	@include phone-landscape {
		padding-left: 2em;
		padding-right: 2em;
	}
}

.alignwide,
.wide_width {
	width: 86vw;
	max-width: $max_wide_page_width;
	margin-left: auto;
	margin-right: auto;

}

.max_text_width {
	width: 90vw;
	max-width: $max_body_text_width;
	margin-left: auto;
	margin-right: auto;
}

.align_top {
	align-items: flex-start;
}
.align_bottom {
	align-items: flex-end;
}
#main {

	main.singular_page {
		> p,
		> blockquote,
		> h2,
		> h3,
		> h4,
		> h5,
		> h6,
		> address,
		> form,
		> input,
		> li,
		> ul,
		> ol {
			max-width: $max_body_text_width;
			margin-left: auto;
			margin-right: auto;

		}
	}
}

main.event_main,
main.post_main {
	display: flow-root;
}


.flex-row {
	display: flex;

	@include phone-landscape {
		padding-left: 2em;
		padding-right: 2em;
	}
}

.space-between {
	justify-content: space-between;
	align-items: center;
}

.right-aligned {
	text-align: right;
}
.left-aligned {
	text-align: left;
}

.two_column {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include phone-landscape {
		padding-left: 2em;
		padding-right: 2em;
	}

	> * {
		width: 48%;
		padding: 2em;

		* {
			max-width: 100%;
		}
	}


	@include tablet-down {
		display: block;

		> * {
			width: 100%;
		}
	}
	@include portrait {
		display: block;

		> * {
			width: 100%;
		}
	}
}

main.post_main {
	> p,
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6,
	> ol,
	> ul {

		@include phone-landscape {
			padding-left: 4em;
			padding-right: 4em;
		}
	}

}


.alignleft {
	float: left;
	margin-right: 10px;
}
.alignright {
	float: right;
	margin-left: 10px;
}

.aligncenter,
.centered_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	align-self: center;
}




// grid template for archives, search results, browse page, etc.


.content_grid_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax( 350px, 1fr ));
	grid-gap: 1em;

	@include phone-only {
		grid-template-columns: repeat(auto-fill, minmax( 95%, 1fr ));
	}

	.card {
		container-type: inline-size;
	}

	.headshot,
	.featured_image {
		margin: -1em -1em 1em -1em;

	}

	.featured_image {
		a {
			display: block;
		}
		img {
			object-fit: cover;
			width: 100%;
			height: 100cqw;
		}
	}

}

main#main {
	//overflow-x: hidden;
	max-width: calc( 100vw - 2px );
	display: flow-root;

	> p {
		margin-left: auto;
		margin-right: auto;

		@include phone-landscape {
			padding-left: 2em;
			padding-right: 2em;
		}
	}
}

div#content {
	min-height: calc( 100vh - 96px - 2.5em );
}

.content_list_container {
	> * {
		display: flex;
		margin-bottom: 2em;

		> * {
			flex: 1;

			&.headshot,
			&.featured_image {
				max-width: 30%;
				margin: -2em 2em -2em -1.5em;

				transition: all 250ms ease-in-out;
				transform: rotate( -1deg);

				&:hover {
					transform: rotate( 0deg);
				}
			}
		}

	}

}

.card {
	padding: 1em;
	border-radius: 5px;

	@include themify($themes) {
		background-color: rgba( themed( 'backgroundColor' ), 0.92 );
		color: themed( 'textColor' );
		box-shadow: themed( 'subtleShadow' );
	}

}