
input {
	font-size: 16px;

	&[type="text"],
	&[type="tel"],
	&[type="number"],
	&[type="password"],
	&[type="url"],
	&[type="email"],
	&[type="search"] {
		font-size: 16px;
		padding: 0.5em 0.75em;
		margin: 0.5em auto;
		line-height: 1.1;
		font-weight: 300;
		font-family: $font-body;
		border-radius: 8px;
		transition: all 250ms ease-in-out;

		@include themify($themes) {
			color: themed( 'inputTextColor' );
			border: 1px solid rgba( lighten( themed('backgroundColor'), 5 ), 0.95 );
			background: rgba( themed('inputBGColor'), 0.7 );
			box-shadow: themed( 'insetShadow' );
		}
		&:hover,
		&:target,
		&:active {
			@include themify($themes) {
				border: 1px solid rgba(  themed('inputBorderColor'), 0.95 );
				background: rgba( themed('inputBGColor'), 1 );
			}
		}
		&:focus,
		&:focus-visible {

			@include themify($themes) {
				outline: 3px solid themed('inputBorderColor');
				box-shadow: themed( 'activeShadow' );
			}
		}
	}
}
select {
	font-size: $font-size-md;
		padding: 0.5em 0.75em;
		margin: 0.5em auto;
		line-height: 1.1;
		font-weight: 300;
		font-family: $font-body;
		border-radius: 8px;
		transition: all 250ms ease-in-out;

		@include themify($themes) {
			color: themed( 'inputTextColor' );
			border: 1px solid rgba( lighten( themed('backgroundColor'), 5 ), 0.95 );
			background: rgba( themed('inputBGColor'), 0.7 );
			box-shadow: themed( 'insetShadow' );
		}
}
textarea {
	font-size: $font-size-md;
	padding: 0.5em 0.75em;
	margin: 0.5em auto;
	line-height: 1.1;
	font-weight: 300;
	font-family: $font-body;
	border-radius: 8px;
	transition: all 250ms ease-in-out;
	width: 100%;
	min-height: 5em;

	@include themify($themes) {
		color: themed( 'inputTextColor' );
		border: 1px solid rgba( lighten( themed('backgroundColor'), 5 ), 0.95 );
		background: rgba( themed('inputBGColor'), 0.7 );
		box-shadow: themed( 'insetShadow' );
	}
}
label {
	display: block;
	font-weight: 300;

	@include themify($themes) {
		color: themed( 'labelTextColor' );
	}
}

button {
	display: inline-block;
	border: none;
	position: relative;
	padding: 0.8em 2em;
	margin-left: .5em;
	z-index: 9;
	border-radius: 3px;
	transition: all 250ms ease-in-out;

	@include themify($themes) {
		color: themed('primaryButtonTextColor');
		background-color: themed('primaryButtonBGColor');
		border: themed('primaryButtonBorder');
		box-shadow: themed( 'subtleShadow' );
	}

	&:hover,
	&:focus {
		@include themify($themes) {
			color: themed('primaryButtonTextHoverColor');
			background-color: themed('primaryButtonBGHoverColor');
			border: themed('primaryButtonHoverBorder');
			box-shadow: themed( 'normalShadow' );
		}
	}
}
#main .frm_forms,
.frm_forms {

	fieldset {
		margin: 0 0 1em 0;
		padding: 0;
		width: 100%;
		border: none;

		input {
			max-width: calc( 100% - 1em );
		}
	}

	.frm_combo_inputs_container {
		display: flex;
		> div {
			margin-right: 2em;
			flex: 1;

			&:last-child {
				margin-right: 0;
			}
		}
		@include phone-only {
			display: block;

			> div {
				margin-right: 0;
			}
		}
	}

	.frm_description {
		font-size: $font-size-sm;
	}
	.frm_form_fields {

		> fieldset {
			max-width: 90%;
			margin: 2em auto 5em auto;
			padding: 3em;

			@include themify($themes) {
				border: 1px solid rgba( themed('textColor'), 0.5 );
				background: darken( themed('backgroundColor'), 3 );
				background-image: linear-gradient( 178deg, themed('backgroundColor') 10%,  darken( themed('backgroundColor'), 2 ) 31%, darken( themed('backgroundColor'), 3 ) 70% );
				box-shadow: themed( 'subtleShadow');
			}

			legend {
				padding: 0.5em 1em;
				font-weight: 600;
				font-size: $font-size-md;
				border-radius: 10px;

				@include themify($themes) {
					background: themed('backgroundColor');
				}
			}
		}
		input {
			display: inline-block;

			&[type="text"],
			&[type="tel"],
			&[type="number"],
			&[type="password"],
			&[type="url"],
			&[type="email"] {
				display: block;
				width: 100%;
			}
		}

		.frm_form_field {
			padding-bottom: 0.5em;
			margin-bottom: 1em;


			&.frm_two_col,
			&.frm_three_col,
			&.frm_four_col {
				.frm_opt_container {
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						grid-auto-rows: max-content;
				}

				.frm_radio,
				.frm_checkbox {
					grid-column-end: span 1;
				}
			}
		}

		.frm_slider {
			@include themify($themes) {
				background-color: rgba( themed('textColor'), 0.58 );
			}
		}
		.frm_slider:before {
			border-radius: 50%;
			position: absolute;
			content: "";
			height: 23px;
			width: 23px;
			left: 1px;
			bottom: 1px;
			@include themify($themes) {
				background-color: themed('backgroundColor');
			}
			transition: .4s;
			box-shadow: 0 2px 6px rgba(41, 58, 82, 0.31);
		}

		input:checked + .frm_switch .frm_slider {
			@include themify($themes) {
				background-color: themed('linkColor');
			}
		}

		input:focus + .frm_switch .frm_slider {
			@include themify($themes) {
				box-shadow: 0 0 1px themed('linkColor');
			}
		}

		input:checked + .frm_switch .frm_slider:before {
			transform: translateX(15px);
		}

		.frm_rtl .frm_switch_opt {
			padding: 0 8px;
		}

		.frm_rtl .frm_slider:before {
			left: 16px;
		}

		.frm_rtl input:checked + .frm_switch .frm_slider:before {
			transform: none !important;
			left: 1px;
		}
	}
	.frm_display_format_buttons {
		.frm_radio,
		.frm_checkbox {
			label {
				display: block;
				height: 100%;
			}

			input[type=radio],
			input[type=checkbox] {
				border: 0 !important;
				clip: rect(1px, 1px, 1px, 1px);
				-webkit-clip-path: inset(50%);
				clip-path: inset(50%);
				height: 1px;
				margin: -1px !important;
				overflow: hidden;
				padding: 0;
				position: absolute !important;
				width: 1px !important;
				word-wrap: normal !important;

				&:checked {
					+ .frm_label_button_container,
					+ .frm_image_option_container {
						@include themify($themes) {
							border: 1px solid rgba( themed('textColor'), 0.5 );
							background: themed('accentButtonBGColor');

							box-shadow: themed( 'activeShadow');
							color: themed('accentButtonTextColor');
						}
					}
				}
			}
		}

		.frm_label_button_container,
		.frm_image_option_container {

			@include themify($themes) {
				border: 1px solid rgba( themed('textColor'), 0.5 );
				background: darken( themed('backgroundColor'), 3 );
				background-image: linear-gradient( 178deg, themed('backgroundColor') 10%,  darken( themed('backgroundColor'), 2 ) 31%, darken( themed('backgroundColor'), 3 ) 70% );
				box-shadow: themed( 'subtleShadow');
				color: rgba( themed('textColor'), 0.46 );
			}

			border-radius: 2px;
			padding: 0.5em 1.5em;
			cursor: pointer;
			align-items: center;
			height: 100%;
			display: flex;
			box-sizing: border-box;
			flex-wrap: nowrap !important;
			gap: 16px;
			overflow: hidden;
			margin: 1em 0;
			transition: all 250ms ease-in-out;

			&:hover {
				@include themify($themes) {
					border: 1px solid rgba( themed('textColor'), 0.5 );
					background: themed('accentButtonBGHoverColor');

					box-shadow: themed( 'subtleShadow');
					color: themed('accentButtonTextHoverColor');
				}
			}
		}
	}
}



.wp-block-frm-modal-content  {

	&.show {
		 z-index: 99999;
	}
	.modal-header {
		border-bottom: none;
		padding-bottom: 0 !important;
	}

	.modal-content {
		@include themify($themes) {
			border: 1px solid rgba( themed('textColor'), 0.5 );
			background: darken( themed('backgroundColor'), 3 );
			background-image: linear-gradient( 178deg, themed('backgroundColor') 10%,  darken( themed('backgroundColor'), 2 ) 31%, darken( themed('backgroundColor'), 3 ) 70% );
			box-shadow: themed( 'subtleShadow');
		}
	}
	.modal-body {
		padding-top: 0;
	}
}


// custom paypal button styles. class `add_to_cart_button` can be added to any button, input type="submit" or a

.add_to_cart_button {
	font-size: $font-size-md;
	padding: 1.2em;
	cursor: pointer;
	transition: all 250ms ease-in-out;
	border-radius: 8px;
	font-weight: 800;
	display: inline-block;
	margin: 2em auto;

	@include themify($themes) {
		box-shadow: themed( 'subtleShadow');
	}

}
