.section_block,
.content_block {
	position: relative;
	overflow: hidden;
}

.section_background_image {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: none;
}

.section_inner_content {
	position: relative;
	z-index: 99;
	padding: 3em 1em;
}